//AnswerButton.module.scss

.answerButton {
  color: var(--text);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 1rem;
  position: relative;
  transition: 200ms ease;
  z-index: 2;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.correct,
  &.incorrect {
    opacity: 1;
  }

  &.correct {
    color: #37ecba;
  }

  &.incorrect {
    text-decoration: line-through;
    color: #ee609c;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0;
    z-index: -1;
    transition: 200ms ease;
  }

  &:nth-child(1) {
    &::after {
      background-color: #21d4fd;
      background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    }
  }
  &:nth-child(2) {
    &::after {
      background-color: #ffe53b;
      background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
    }
  }
  &:nth-child(3) {
    &::after {
      background-color: #ff3cac;
      background-image: linear-gradient(
        225deg,
        #ff3cac 0%,
        #784ba0 50%,
        #2b86c5 100%
      );
    }
  }
  &:nth-child(4) {
    &::after {
      background-color: #74ebd5;
      background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
    }
  }

  &:hover {
    color: #fbf7f4;

    &::after {
      opacity: 1;
    }
  }
}
